*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.container{
    display: flex;
    flex-direction: row;
    background-color: beige;
    
}
body{
    font-family: sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: 100vh;
    justify-content: space-around;
    margin-left: 400px;
}
.text{
    text-align: center;
}
.twitter{
    display: flex;
    background-color: #1DA1F2;
    border-radius: 15px;
    color: white;
}
.facebook{
    background-color: #4f70b5;
    color: white;

}
.twitter, .facebook{
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.success-icon, .failure-icon{
    right: 0;
    opacity: 0;
}
.failure-icon, .error{
    color: red;
}
.success-icon{
    color: green;
}
.error{
    font-size: 14.5px;
    margin-top: 5px;
}
button{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #1DA1F2;
    border: 2px solid #1DA1F2;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}
label{
    display: block;
    margin-bottom: 5px;
}
.resign{
    display: flex;
    flex-direction:column ;
    padding-left: 300px;
}
p{
    text-align: center;
}
button:hover{
    opacity: 0.8;
}
form div i{
    padding: 5px;
}
.facebook:hover,
.twitter:hover{
    opacity: 0.8;
}

