.Hao{
    display: flex;
    width: 50%;
    margin: 0 auto;
    background-color: #4C604E;
    height: 280px;
}
.hello{
  margin-left: 150px;
}
.img1{
    padding-left: 150px;
    width: 350px;
}
.about-me{
    display: flex;
    width: 50%;
    margin: 0 auto;
    background-color: #F2B458;
}
.img2{
    margin-left: 0;
    width: 300px;
}
#about-me{
    padding-left: 150px;
    padding-top: 18px;
}
.skills{
  background-color: #4C604E;
  width: 750px;
  margin-left: 376px;
}
.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; /* Khoảng cách giữa các ô */
    width: 750px; /* Kích thước của container */
    margin: 0 auto;
  }
  
  .image-container div {
    display: flex;
    padding: 10px 30px;
  }
  
  .image-container img {
    max-width: 100%; /* Kích thước tối đa của ảnh */
    width: 220px;
   
  }
  
  .image-container h3 {
    margin: 0;
    align-self: flex-end; /* Đặt thẻ h3 bên phải */
    position: relative;
    bottom: 65px;
    padding-left: 25px;
    
  }
  .my-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 376px;
    background-color: #F2B458;
    width: 750px;
    
  }

  .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .img-container img {
    max-width: 400px;
    object-fit: cover;
    border: 5px solid #54644E;
  }
 .ig1{
  width: 300px;
  height: 500px;
  margin-left: 15px;
 }
 .ig2{
  width: 370px;
  height: 200px;
  
 }
 .ig3{
  width: 300px;
  margin-left: 20px;
 }
 .ig4{
  width: 370px;
  height: 490px;
  margin-top: -300px;
 }
 .product{
  margin: 0 auto;
  text-align: center;
  background-color: #F2B458;
  width: 750px;
 }
  
  

  
  
  
  
  
  