@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}
body{
    font-family: 'Jost', sans-serif;
}
.link{
    width: 100%;
    margin: 10px 0px 10px 20px;
}
.link a{
    color: #969696;
    text-decoration: none;
}
.link strong{
    font-weight: bolder;
    color: #51adcd;
}
.img1{
    position: relative;
    margin-bottom: 50px;
}
.img1 img{
    width: 100%;
}
.content-infor{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 60px 15px 30px;
    color: aliceblue;
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.85));
    text-align: center;
}
.author, .datePost, .cmt-count{
    font-size: 13px;
    font-weight: 500;
    margin: 0 5px;
    text-align: center;
}
.lorem{
    font-size: 14px;
    color: #a8a8a8;
    font-family: 400;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title-aside{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 2px solid #e7e7e7;
}
.list{
    padding-bottom: 15px;
}
.list{
    display: flex;
}
h3 a{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding-bottom: 3px;
}
.date-post{
    font-size: 11px;
    color: #aaa;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* padding-bottom: 2px; */
}
.date-post1{
    font-size: 13px;
    color: #aaa;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.currentCmt{
    color: #aaa;
    font-size: 13px;
    font-weight: 500;
}
.content-list{
    padding-left: 20px;
}
.content-list span,
.content-list h3 {
  margin-bottom: 0px;
  margin-top: -5px;
}
.content-list h3 a{
    text-decoration: none;
}
#search{
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
}
input:focus {
    outline: none;
}
.blog-wrap{
    display: flex;
    flex-wrap: wrap;
}
.cate-tags{
    margin: 30px 0px 30px 0px; 
    line-height: 50px;
    align-items: center;
}
.tittle-tag{
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.socials{
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
}
.socials a{
    padding-left: 30px;
}
.socials i{
    height: 40px;
    width: 50px;
    color: #000;
    font-size: 13px;
    background-color: #eee;
    padding-left: 18px;
    padding-top: 15px;
}
.socials a i:hover{
    scale: 1.2;
}
@media (max-width: 767px){
    .img1 img{
        width: 100%;
    }
    .img2 img{
        width: 100%;
    }
    .content-infor{
        width: 100%;
    }
    .content-infor h2{
        font-size: 20px;
    }
    .link{
        display: none;
    }
}
@media (min-width:768px) and (max-width:1023px) {
    .img1 img{
        width: 100%;
    }
    .img2 img{
        width: 100%;
    }
    .content-infor{
        width: 100%;
    }
    .content-infor h2{
        font-size: 30px;
    }
}